.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#000000, #009688);

    .auth-form__switch {
        margin-top: 10px;
    }
  
    .auth-form {
      background-color: #ffffff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
      text-align: center;
  
      h2 {
        margin-bottom: 1.5rem;
        color: #000000;
      }
  
      label {
        display: block;
        margin-bottom: 0.5rem;
        color: #000000;
      }
  
      input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #000000;
        border-radius: 4px;
        font-size: 1rem;
        box-sizing: border-box;
      }

      .login-switch {
        color: #000000;
        cursor: pointer;
      }
  
      button {
        width: 100%;
        padding: 0.75rem;
        border: none;
        border-radius: 4px;
        background-color: #000000;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #333333;
        }
      }

      .error-message {
        color: red;
        margin-top: 1rem;
        font-size: 0.9rem;
        text-align: center;
      }
  
      p {
        margin-top: 1rem;
        color: #000000;
  
        button {
          background-color: transparent;
          color: #000000;
          border: none;
          cursor: pointer;
          text-decoration: underline;
          padding: 0;
  
          &:hover {
            color: #333333;
          }
        }
      }
    }
  }
