.navbar {
  grid-row: 1;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;

  &__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__vt {
    font-family: VT323;
    font-size: 28px;
  }

  &__vt--red {
    color: rgb(233, 13, 13);
  }

  &__vt--yellow {
    color: #f8b800;
  }

  &__timer {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  &__score {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
}
